# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Don't forget to remove this and line 27 when all of us fetched these files
# Files that GIT should ignore(to now show secret info in public). Remove # when all of us fetched these files
#server/.env
#server/node_modules
#client/node_modules
#client/.env